<VirtualHost *:80>
   ServerAdmin webmaster@localhost
   ServerName bims
   ServerAlias bims
   DocumentRoot /var/www/html
   ErrorLog  /var/log/httpd/error.log
   CustomLog  /var/log/httpd/access.log combined
</VirtualHost>