127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6


3.126.245.240    bastion

3.127.231.75     propitxweb1.com

3.125.42.87      propitxweb2.com
52.59.241.142    propitxweb3.com

3.120.206.157    livingstone.cf

18.193.106.150    propitxdb.com

3.64.56.6         propitixci.com