127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost6 localhost6.localdomain6


172.31.33.194   bastion

3.127.247.255    propitxweb1.com
18.193.120.243   propitxweb2.com
18.192.12.191    propitxweb3.com

18.198.94.29   livingstone.cf

172.31.34.70    propitxdb.com

172.31.34.192           propitixci.com